<!DOCTYPE html>
<html lang="en" dir="ltr" class="client-nojs">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}} · WebPlatform Docs</title>
    <link rel="stylesheet" href="/assets/css/docs.css" />
    <link rel="stylesheet" href="/assets/css/highlight.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <!--[if lt IE 7]><script src="/bower_components/ie7-js/lib/IE7.js"></script><![endif]-->
    <!--[if lt IE 8]><script src="/bower_components/ie7-js/lib/IE8.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="/bower_components/ie7-js/lib/IE9.js"></script><![endif]-->
    <!--[if lt IE 8]><link rel="stylesheet" href="//www.webplatform.org/assets/css/ie7.css"><![endif]-->
    {{>metadata}}
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/vue/dist/vue.min.js"></script>
  </head>
  <body class="mediawiki ltr sitedir-ltr skin-webplatform action-view">
    {{#readiness_marker}}{{readiness}}{{/readiness_marker}}
    <header id="mw-head" class="noprint">
      <div class="container">
        <div id="p-logo">
            <a href="//www.webplatform.org/"  title="Visit the home page"></a>
        </div>
      </div>
    </header>
    <nav id="sitenav">
    <div class="container">
      <ul class="links">
          <li><a href="/" class="active">THE DOCS</a></li>
          <li><a href="/Community">CONNECT</a></li>
          <li><a href="/Contributing">CONTRIBUTE</a></li>
          <li><a href="//www.webplatform.org/blog/">BLOG</a></li>
      </ul>
    </div>
    </nav>

    {{>notice}}

    <div id="content" class="mw-body">
      <div class="container">
        <a id="top"></a>
        <div class="tool-area">
              <div id="hierarchy-menu">
                  {{>breadcrumb}}
              </div>
              <div class="toolbar">
                {{#if uri}}
                {{! If we do not have an uri front matter, we might }}
                {{! not want edit buttons. Notice that we gotta }}
                {{! make sure the content pages always has an uri }}
                {{! front-matter. }}
                <div><a class="highlighted edit button" text="Edit" href="https://github.com/webplatform/docs/blob/master">Edit</a></div>
                <div class="dropdown"><a class="tools button">Tools</a>
                    <ul>
                        <li><a href="/_internal/history.html?path={{#history_urlencode}}{{uri}}{{/history_urlencode}}" rel="archives">History</a></li>
                    </ul>
                </div>
                {{/if}}
            </div>
        </div>
        <div id="page">
          <div id="page-content">
            <div id="main-content">

<h1>{{title}}</h1>
{{{ contents }}}
{{>attributions}}
            </div>
            <div class="topics-nav">
              <ul>
                <li><a href="/Beginners">Beginners</a></li>
                <li><a href="/concepts">Concepts</a></li>
                <li><a href="/html">HTML</a></li>
                <li><a href="/css">CSS</a></li>
                <li><a href="/concepts/accessibility">Accessibility</a></li>
                <li><a href="/javascript">JavaScript</a></li>
                <li><a href="/dom">DOM</a></li>
                <li><a href="/svg">SVG</a></li>
              </ul>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
    <footer id="mw-footer">
      <div class="container">
        <div id="footer-wordmark">
          <a href="https://github.com/webplatform/docs/blob/master/LICENSE.md" class="license">
            <img src="//www.webplatform.org/assets/cc-by-black.svg" width="120" height="42" alt="Content available under CC-BY, except where otherwise noted.">
          </a>
          <a href="//www.webplatform.org/"><span id="footer-title">WebPlatform<span id="footer-title-light">.org</span></span></a>
        </div>
        <!-- ul class="stewards">
          <li class="steward-w3c"><a href="//www.webplatform.org/stewards/w3c">W3C</a></li>
        </ul -->
      </div>
    </footer>
    <script src="/assets/js/docs.js"></script>
  </body>
</html>
